<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KEXT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>proximac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32A4FEB80562C75700D090E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>846E8E050687555F0031A743</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16F69131B0336780030A265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C16F69311B033D400030A265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
